body{
  width: 98vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms linear;
}
.btnCon button{
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: hsl(210deg 40% 52% / 40%) 15px 15px 30px;
  font-size: 1.8rem;
  background-color: #A5DCF0;
}
